<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/entrada.css">
    <title>Entrada</title>
</head>
<body>

    <main>
        <div class="form_de_entrada">
            <a href="/inicio">
                <button>
                    Entrar al Portafolio
                </button>
            </a>
            <h4>--------------o--------------</h4>
            <h3>¿Eres administrador? <a href="{{entrar_login}}">Inicia sesión</a></h3>
        </div>


    </main>

    <div clas="footer_container">
      <footer>
        <p>Todos los derechos reservados.</p>
        <p>Desarrollado por Juanangel Alvarado</p>
      </footer>
    </div>

</body>
</html>