{% extends 'base.html' %}
{% block  title%}Mis proyectos{% endblock %}
{% block content %}

    <h1 class="titulo_principal">Mis Proyectos</h1>
    <div class="contenedor_proyectos">
    {% for proyecto in mis_proyectos %}
        <div class="proyectos"> 
            <h2>{{ proyecto.nombre_proyecto }}</h2>
            <h3>Descripcón</h3>
            <p>{{ proyecto.descripcion }}</p>
            <a href="{{ proyecto.enlace }}">Click para entrar</a>
            {% if proyecto.img %}
                <img src="{{ proyecto.img | safe }}">
            {% endif %}
        </div>
    {% endfor %}
    </div>















{% endblock %}